<!DOCTYPE html>
<html>
<head>
<title>KVPanel</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="http://lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script src="http://lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
<style>
.btn {
font-weight:bold;
}
.panel-body .row {
padding:5px 15px 10px;
}
#limit {
width:100px;
}
</style>
</head>
<body>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">KVDB Stats</h3>
  </div>
  <div class="panel-body">
    {{kv_info}}
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">KVDB Content</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="form-inline" role="form" method="GET">
      <input type="hidden" name="prev_marker" value="{{prev_marker}}">
      <div class="form-group">
        <label class="sr-only" for="inputKey">Input Key:</label>
        <input name="prefix" type="text" class="form-control" id="inputKey" placeholder="Input Key Here..." style="width:300px" value="{{prefix|safe|escape}}">
      </div>
      <select id="limit" class="form-control" name="limit">
        <option value="10">10</option>
        <option value="20" selected>20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Content Key</th>
            <th>Content Value</th>
            <th>Value Size</th>
            <th width="10%">Operations  <a class="btn btn-success btn-xs" data-toggle="modal" href="#" data-target="#addModal"  >Add</a></th>
          </tr>
        </thead>
        <tbody>
          {% for o in results %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td content="key">{{o.0|safe|escape}}</td>
            <td content="val">{{o.1|safe|escape|truncatechars:1000}}</td>
            <td content="size">{{o.1|safe|escape|length}}</td>
            <td><a class="btn btn-info btn-xs" data-toggle="modal" href="#" data-target="#addModal">Modify</a> <button class="btn btn-danger btn-xs" btype="del">Delete</button></td>
          </tr>
          {% empty %}
          <tr><td colspan="4">Nothing found...</td></tr>
          {% endfor %}
        </tbody>
    </table>
    {%if results%}
    <ul class="pager">
      <li><a href="{{path}}?marker={{ prev_marker }}&prefix={{prefix}}{%if limit%}&limit={{limit}}{%endif%}">Previous</a></li>
      <li><a href="{{path}}?marker={{ marker }}&prefix={{prefix}}{%if limit%}&limit={{limit}}{%endif%}">Next Page</a></li>
    </ul>
    {%endif%}
  </div>
</div>
<script type="text/javascript">
$(function(){
    $('#limit').val('{{limit}}');
    $('button[btype=del]').on('click',function(evt){
        var key = $('td[content=key]',$(this).parent().parent()).html();
        if (!confirm('Warning! Continue to delete this item?\nContent key is: ' + key))
            return
        $.post('{{path}}del/',{'key':key,'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]')[0].value})
        .success(function(){
            //alert('Item delete succeeded!');
            location.reload();
        })
        .error(function(){
            alert('Failed to delete item!');
        });
    });
    $('#addModal').on('show.bs.modal', function (e) {
        var invoker = $(e.relatedTarget);
        var key = '', val = '';
		var parent = invoker.parent().parent();
        if (invoker.html() == 'Modify') {
            key = $('td[content=key]',parent).html();
			var size = $('td[content=size]',parent).html();
			val = $('td[content=val]',parent).html();
        }
        $('#ikey').val(key);
        $('#ival').html(val);
		if (size > 1000) {
			$.get('{{path}}get/',{'key':key})
			.success(function(data) {
				if (data && data.length) {
					$('#ival').html(data);
				}
			})
		}
    });
    $('#modalForm').on('submit',function(evt){
        evt.preventDefault();
        $.post('{{path}}set/', $('#modalForm').serialize())
        .success(function(){
            //alert('Item set succeeded!');
            location.reload();
        })
        .error(function() {
            alert('Failed to add item!');
        });
    });
});
</script>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id="modalForm"">
      {%csrf_token%}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addModalLabel"><span id="modal-title">Set KVDB Item</span></h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="ikey">Input Key</label>
            <input type="text" class="form-control" id="ikey" name="key" placeholder="Input key here...">
          </div>
          <div class="form-group">
            <label for="ival">Input Value</label>
            <textarea rows="10" class="form-control" id="ival" name="val" placeholder="Input value here..."></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="save-item" >Save Item</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>